@model IEnumerable<PhotoModel>
﻿@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model != null && Model.Any())
    {
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <li data-target="#carouselIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    var photo = Model.ElementAt(i);
                    var photoBase64 = Convert.ToBase64String(photo.Photo);
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img class="d-block w-100" src="data:image/jpeg;base64,@photoBase64" alt="@photo.PhotoName">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>@photo.PhotoName</h5>
                            <p>@photo.PhotoDescription</p>
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
    <br />
    <p>
        Crocheting is beautiful yarn art done by crocheting hooks and yarn. It can inspire us to bring our imagination alive. Once you learn the basics, you will have something beautiful to share! If you are a beginner, click on the basic stitches tab or click the button below to learn some basic stitches!
    </p>
    <a asp-controller="Stitches" asp-action="Index" class="btn btn-primary">Stitches</a>
    <p>
        <br />
        For those of you who are a little more experienced, you can view different patterns posted by others, or you, yourself can post your own patterns. You can
        click on the Patterns tab or you can click on the button below.
    </p>
    <a asp-controller="Patterns" asp-action="Index" class="btn btn-primary">Patterns</a>
    <p>
        <br />
        Did you see a pattern that you liked? Did a certain pattern you tried turned out? Would you like to recommend that pattern? Click on the Pattern Recommendations tab
        or click on the button below.
    </p>
    <a asp-controller="Recommendations" asp-action="Index" class="btn btn-primary">Recommendations</a>
    <p>
        <br />
        Are you proud of a certain project? Want to show others of that proud work? Do you want to view pictures of other's work? Well, you came to the right place!
        you can click on the Photos tab, or you can click on the button down below.
    </p>
    <a asp-controller="Photos" asp-action="Index" class="btn btn-primary">Photos</a>
</div>